<form (ngSubmit)="register()" novalidate>
  <legend>Create an account</legend>

  <div class="form-group">
    <label for="nombre">Name:</label>
    <input type="text" class="form-control" id="name" name="nameUser" placeholder="Name" [(ngModel)]="user.name" required 
    #nameModel="ngModel" [ngClass]="validClasses(nameModel,'is-valid','is-invalid')" minlength="3">
  </div>

  <div class="form-group">
    <label for="correo">Email:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="user.email" required 
    #emailModel="ngModel" [ngClass]="validClasses(emailModel,'is-valid','is-invalid')" email>
  </div>

  <div class="form-group">
    <label for="correo">Repeat Email:</label>
    <input type="email" class="form-control" id="email2" name="email2" placeholder="Email" [(ngModel)]="user.email2" required 
    #email2Model="ngModel" [ngClass]="validClasses(email2Model,'is-valid','is-invalid')" email>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="user.password" required 
    #passwordModel="ngModel" [ngClass]="validClasses(passwordModel,'is-valid','is-invalid')">
  </div>

  <div class="form-group">
    <label for="image">Avatar image</label>
    <input type="file" class="form-control" id="image" name="image" #fileImage (change)="changeImage(fileImage)" required>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-sm-6">
      <label for="latitude">Latitude:</label>
      <input type="text" class="form-control" id="lat" name="lat" placeholder="Geolocalizing..." readonly [(ngModel)]="lat">
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <label for="longitude">Longitude:</label>
      <input type="text" class="form-control" id="lng" name="lng" placeholder="Geolocalizing..." readonly [(ngModel)]="lng">
    </div>
  </div>
  
  <a class="btn btn-secondary" [routerLink]="['/auth/login']">Go back</a>
  <button type="submit" class="btn btn-primary">Create account</button>
</form>

<div *ngIf="error" class="alert alert-danger mt-3" role="alert">
  {{error}}
</div>
