<div class="card">

  <a [routerLink]="['/events/details', event.id]">
    <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
  </a>
  <div class="card-body">
    <h4 class="card-title"><a [routerLink]="['/events/details', event.id]">{{event.title}}</a></h4>
    <p class="card-text" [innerText]="event.description"></p>
    <button *ngIf="event.mine" class="btn btn-danger float-right" (click)="removeEvent()">Delete</button>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-6">
        <p>{{event.date | date:"dd/MM/y"}}</p>
      </div>
      <div class="col-6 text-right">
        <p>{{event.price | currency:'EUR':'symbol-narrow'}}</p>            
      </div>
    </div>
  </div>
</div>
  