<ae-event-item [event]="event" class="card" (deleted)="removeEvent()"></ae-event-item>

<a class="btn btn-warning mt-3" *ngIf="event.mine" [routerLink]="['/events/edit', event.id]">
Edit event
</a>

<div class="buy mt-3">
    <h3>Buy tickets</h3>
    <p>

        <button class="btn btn-light" (click)="modCantidad(-1)">-</button>
        <input type="number" name="cantidad" [(ngModel)]="cantidad" min="1" 
        (change)="check()">
        <button class="btn btn-light" (click)="modCantidad(1)">+</button>    
        Total: {{ amount | currency:'EUR':'symbol-narrow' }}
    </p>
    <ae-paypal-button id="payPalButton" [amount]="amount" (paymentCompleted)="getPayment($event)"></ae-paypal-button>
    <div *ngIf="payedMessage" class="alert" [ngClass]="{'alert-success' : paymentStatus, 'alert-danger' : !paymentStatus}" role="alert">
        {{ payedMessage }}
    </div>
</div>
<div class="mt-3">
    <agm-map [latitude]="event.lat" [longitude]="event.lng" [zoom]="15">
        <agm-marker [latitude]="event.lat" [longitude]="event.lng"></agm-marker>
    </agm-map>
</div>
